.flex-container {
    display: flex;
}

.logo {
    flex: 1;
    overflow: hidden;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;    
  }
  
  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(36, 36, 36);
  }